#userCircle {
  font-size: 32px;
  color: blue;
}

#dropdown {
  position: absolute;
  left: -200px;
  width: 250px;
  border-radius: 10px;
  background-color: #f1f9fe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px !important;
}

.textCenter {
  text-align: center;
}

.leftLink {
  text-decoration: none;
  color: white !important;
  opacity: 0.75;
  font-weight: bold;
  font-size: 20px;
}

.leftLink:hover {
  color: white !important;
  opacity: 1;
}

#loginBtn {
  font-weight: bold;
}

#registerBtn {
  font-weight: bold;
}

.dropdown {
  height: 50px;
  margin: 0px 5px 0px 5px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.dropdownBtn {
  width: 250px;
  border-color: transparent !important;
  height: initial !important;
  margin: 0px !important;
}

.superCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 0px !important;
}
