.loadingStatus {
  margin-top: 30vh;
  opacity: 0.5;
}

.listRow {
  border-top-width: 1px !important;
  border-radius: 20px !important;
  min-height: 150px;
  font-size: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 8px, rgba(17, 17, 26, 0.024) 0px 4px 16px;
}

.imageArea {
  height: 120px;
  width: 180px;
  background-color: #ecf0f1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.noImage {
  max-height: 100px;
  max-width: 100px;
}

.toggleable {
  cursor: pointer;
}

#historyTitle {
  font-size: x-large;
  color: black;
  opacity: 0.25;
}

.rightDropdown {
  transition-duration: 500ms;
}

.downDropdown {
  transform: rotate(90deg);
  transition-duration: 500ms;
}

.collapsible {
  transition-duration: 500ms;
}

@keyframes fadeIn {
  from {
       opacity: 0;
  }
  to {
       opacity: 1;
  }
}

.collapse {
  display: none;
}

.expand {
  display: initial;
  animation: fadeIn 0.5s;
}