.reservationCard:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 8px, rgba(17, 17, 26, 0.024) 0px 4px 16px;
  transition: all 200ms ease-in-out 0s;
  will-change: transform;
}

.reservationCard:hover {
    transform: translateY(-10px);
}

.toggleable {
  cursor: pointer;
}

#historyTitle {
  font-size: x-large;
  color: black;
  opacity: 0.25;
}

.rightDropdown {
  transition-duration: 500ms;
}

.downDropdown {
  transform: rotate(90deg);
  transition-duration: 500ms;
}

.collapsible {
  transition-duration: 500ms;
}

@keyframes fadeIn {
  from {
       opacity: 0;
  }
  to {
       opacity: 1;
  }
}

.collapse {
  display: none;
}

.expand {
  display: initial;
  animation: fadeIn 0.5s;
}