body {
  background-image: url(./Images/background.jpg) !important;
  background-size: 300px !important;
  background-attachment: fixed !important;
}

div.container, div.container-fluid {
  margin-top: 3% !important;
  background-color: #fffaf7 !important;
  border: dotted 7px #bda4a4 !important;
  padding-top: 3% !important;
  padding-bottom: 5% !important
}

/* https://media.istockphoto.com/vectors/vet-seamless-pattern-vector-id868292512?b=1&k=6&m=868292512&s=612x612&w=0&h=0-7xMi-FUgcEANbX2mFQU4Mq78vrEAYB4wVfapbtl-M= */


