body {
  background-image: url(./Images/background1.jpg) !important;
  background-size: 400px !important;
  background-attachment: fixed !important;
}

/* box -> color, padding, margin */
div.container, div.container-fluid {
  margin-top: 3% !important;
  background-color: #fffaf7 !important;
  border: dotted 7px #bda4a4 !important;
  padding-top: 3% !important;
  padding-bottom: 5% !important
}

/* text -> fontsize, fontweight */
.title {
  font-size: 32px !important;
  font-weight: 800 !important;
}
.subtitle {
  font-size: 24px !important;
  font-weight: 700 !important;
}
.header {
  font-size: 18.72px !important;
  font-weight: 600 !important;
}
.emphasis {
  font-size: 16px !important;
  font-weight: 500 !important; 
}
.button-text {
  font-size: 16px !important;
}

/* table properties */
.table-content {
  text-align: center !important;
  vertical-align: middle !important;
  word-wrap: break-word !important;
}