.superCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.textCenter {
  text-align: center;
}

#LoginHeader {
  font-size: 60px;
  color: #3ba3fc;
}

#NontOwnerButton,
#NontSitterButton {
  height: 60px;
  width: 200px;
  margin-top: 8%;
  border-radius: 20px;
  font-size: 23px;
  border: 3px solid lightblue;
}

#NontOwnerButton:hover,
#NontSitterButton:hover {
  border: 1px solid gold;
}
