.superCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.textCenter {
  text-align: center;
}

#LoginFieldsDiv {
  width: 100%;
}

#emailInput,
#passwordInput {
  margin-top: 30px;
  line-height: 2.5em;
  outline: none;
  border-radius: 10px;
  border: 3px solid lightgray;
  transition: 0.3s;
  text-align: center;
  max-width: 70vw;
}

#emailInput:focus,
#passwordInput:focus {
  border: 3px solid lightblue;
}

::-webkit-input-placeholder {
  text-align: center;
}

#logInButton {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  border: 1px solid lightgreen;
  color: white;
  background-color: #3ba3fc;
}

#logInButton:hover {
  border: 1px solid gold;
  background-color: #5cb85c;
}

.redColor {
  color: red;
}

#spinner {
  margin-top: 10px;
}
