.loadingStatus {
  margin-top: 30vh;
  opacity: 0.5;
}

.shelterCardCol {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cardWrapper {
  min-height: 300px;
  min-width: 225px;
  max-width: 300px;
  margin: auto;
}

.cardLink {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
}

.cardLink:hover {
  text-decoration: none;
}

.shelterCard {
  min-height: 300px;
  min-width: 225px;
  max-width: 300px;
  border-radius: 20px !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 8px, rgba(17, 17, 26, 0.024) 0px 4px 16px;
  transition: all 200ms ease-in-out 0s;
  will-change: transform;
}

.shelterCard:hover {
  transform: translateY(-10px);
}

.image {
  height: 150px;
  width: 100%;
  background-color: #ecf0f1;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.noImage {
  max-height: 100px;
  max-width: 100px;
}

.shelterName {
  font-weight: bold;
  word-break: break-word;
  max-width: 80%;
  max-height: 50px;
}

.star {
  color: #ffe135;
}

.fade {
  opacity: 0.25;
}