.loadingStatus {
  margin-top: 30vh;
  opacity: 0.5;
}

.searchBar {
  width: 100%;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.searchBar:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.searchIcon {
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  color: #495057;
  background-clip: padding-box;
  border: none;
}

.searchField {
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.searchField:focus {
  box-shadow: none !important;
}

.inputLabel {
  margin-right: 1rem;
  opacity: 0.5;
  cursor: default;
  font-weight: bold;
}

.textButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.shelterCardCol {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cardWrapper {
  min-height: 300px;
  min-width: 225px;
  max-width: 300px;
  margin: auto;
}

.cardLink {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
}

.cardLink:hover {
  text-decoration: none;
}

.shelterCard {
  min-height: 300px;
  min-width: 225px;
  max-width: 300px;
  border-radius: 20px !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 8px,
    rgba(17, 17, 26, 0.024) 0px 4px 16px;
  transition: all 200ms ease-in-out 0s;
  will-change: transform;
}

.shelterCard:hover {
  transform: translateY(-10px);
}

.imageArea {
  height: 150px;
  width: 100%;
  background-color: #ecf0f1;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.noImage {
  max-height: 100px;
  max-width: 100px;
}

.shelterName {
  font-weight: bold;
  font-size: large;
  opacity: 0.75;
  word-break: break-word;
  margin-left: 1rem;
  margin-right: 1rem;
}

.star {
  color: #ffe135;
}

.fade {
  opacity: 0.25;
}
