#container {
  max-width: 960px !important;
}

.fade {
  opacity: 0.5;
}

#nontOwnerCol {
  padding-right: 0px !important;
  display: flex;
  align-items: stretch;
}

#nontOwnerBtn {
  border-radius: 1rem 0px 0px 1rem !important;
  font-size: larger;
  font-weight: bold;
  border-width: medium;
}

#nontSitterCol {
  padding-left: 0px !important;
  display: flex;
  align-items: stretch;
}

#nontSitterBtn {
  border-radius: 0px 1rem 1rem 0px !important;
  font-size: larger;
  font-weight: bold;
  border-width: medium;
}

.required {
  color: #e2401c;
  cursor: help;
}