#createdScreen {
  background-color: #F1F9FE;
  height: 100vh;
  width: 100vw;
  padding: 1px;
}

#createdAlert {
  margin-top: 10vh;
  max-width: 960px;
}

#container {
  max-width: 960px !important;
  margin-top: 2.5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
}

#header {
  font-size: 48px;
  color: #3ba3fc;
}

.fade {
  opacity: 0.5;
}

#nontOwnerButton,
#nontSitterButton {
  height: 60px;
  width: 200px;
  border-radius: 20px;
  font-size: 24px;
  border: 3px solid lightblue;
}

#nontOwnerButton:hover,
#nontSitterButton:hover {
  border: 1px solid gold;
}

.required {
  color: #e2401c;
  cursor: help;
}