openapi: 3.0.0
info:
  version: 1.0.0
  title: Nont API
  description: ''
servers:
  - description: Nont server 
    url: https://nontserver.herokuapp.com
  - description: Localhost server
    url: http://localhost:5000
paths:
  # room
  /room:
    $ref: 'RoomRoute.yaml#/~1room'
  /room/id/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1id~1{id}'
  /room/name/{name}:
    $ref: 'RoomRoute.yaml#/~1room~1name~1{name}'
  /room/nont-type/{type}:
    $ref: 'RoomRoute.yaml#/~1room~1nont-type~1{type}'
  /room/shelterid/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1shelterid~1{id}'
  /room/update/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1update~1{id}'
  /room/delete/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1delete~1{id}'
  /room/remove/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1remove~1{id}'
  /room/admin_update/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1admin_update~1{id}'
  /room/admin_get/{id}:
    $ref: 'RoomRoute.yaml#/~1room~1admin_get~1{id}'